<!DOCTYPE html>
<html>
<head>
    <title>Homepage</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script type="application/javascript" src="/javascripts/encrypt.js"></script>
    <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <script type="text/javascript" src="http://code.jquery.com/jquery-1.4.3.min.js" ></script>
    <% if (typeof alertMessage != 'undefined') { %>
    <script src="http://code.jquery.com/jquery-1.6.4.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            alert("<%=alertMessage%>");
        });
    </script>
    <% } %>
</head>
<body>
<div name="editForm" class="loginBox">
    <div>
        비밀번호 변경:
        <input type="password" id="password" name="password">
    </div>
    <div>
        이름 변경:
        <input type="text" id="name" name="name">
    </div>
    <div>
        <input type="button" onclick="submitEditer()" id="bSubmit" value="정보 변경">
    </div>
</div>

<script type="application/javascript">
    function submitEditer() {
        $.ajax({
            type:"POST",
            url:"/users/edit",
            data : {
                password : MD5($('#password').val()),
                name : $('#name').val()
            },
            success: function(result){
                console.log(result);
                window.location.replace('http://localhost:3000/?alertMessage=로그인 성공');
            },
            error: function(xhr, status, error) {
                alert(error);
            }
        });
    };
</script>

</body>
</html>
