<!DOCTYPE html>
<html>
<head>
    <title>Homepage</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script type="application/javascript" src="/javascripts/encrypt.js"></script>
    <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <script type="text/javascript" src="http://code.jquery.com/jquery-1.4.3.min.js" ></script>
    <script type="application/javascript" src="/javascripts/editMyInfo.js"></script>
    <%- include alert.ejs %>
</head>

<body>
<div name="editForm" class="loginBox">
    <div>
        비밀번호 변경:
        <input type="password" id="password" name="password">
    </div>
    <div>
        이름 변경:
        <input type="text" id="name" name="name">
    </div>
    <div>
        <input type="button" onclick="submitEditer()" id="bSubmit" value="정보 변경">
    </div>
</div>
</body>
</html>
