<!DOCTYPE html>
<html>
<head>
    <title>Homepage</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script type="application/javascript" src="javascripts/pbkdf2-client.js"></script>
    <% if (typeof alertMessage != 'undefined') { %>
    <script src="http://code.jquery.com/jquery-1.6.4.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            alert("<%=alertMessage%>");
        });
    </script>
    <% } %>
</head>
<body>
<p>
    <form action="/users/login" name="loginForm" method="post" class="loginBox" onsubmit="encryptPassword">
        <div class="login">
            <div>
                아이디 입력:
                <input type="text" id="id" name="id" value="아이디 입력">
            </div>
            <div>
                비밀번호 입력:
                <input type="password" id="password" name="password">
            </div>
        </div>
        <input type="text" name="salt" style="display: none">
        <div>
            <input type="submit" value="로그인">
        </div>
    </form>
</p>
<p>
    <form action="/user/register" method="get" div="registerBox">
        <button type="submit" name="register" value="회원가입">회원가입</button>
    </form>
</p>
<p>
    <form action="/user/register" method="get" div="registerBox">
        <button type="submit" name="editProfile" value="회원 정보 수정">회원 정보 수정</button>
    </form>
</p>

<script type="application/javascript">
    function encryptPassword() {
        var bkfd2Password = require('pbkdf2-password');
        var hasher = bkfd2Password();
        hasher({password: document.loginForm.password.value}, function(err, pass, salt, hash){
            document.loginForm.password.value=hash;
        })
    }
</script>


</body>
</html>
