<!DOCTYPE html>
<html>
<head>
    <title>Homepage</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script type="application/javascript" src="/javascripts/encrypt.js"></script>
    <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <script type="text/javascript" src="http://code.jquery.com/jquery-1.4.3.min.js" ></script>
    <% if (typeof alertMessage != 'undefined') { %>
    <script src="http://code.jquery.com/jquery-1.6.4.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            alert("<%=alertMessage%>");
        });
    </script>
    <% } %>
</head>
<body>
<p>
    <form name="loginForm" class="loginBox">
        <div class="login">
            <div>
                아이디 입력:
                <input type="text" id="id" name="id" value="아이디 입력">
            </div>
            <div>
                비밀번호 입력:
                <input type="password" id="password" name="password">
            </div>
        </div>
        <div>
            <input type="button" onclick="submitLogin()" value="로그인">
        </div>
    </form>
    <form action="/users/register" method="get" div="registerBox">
        <button type="submit" name="register" value="회원가입">회원가입</button>
    </form>
</p>

<script type="application/javascript">
    function submitLogin() {
        $.ajax({
            type:"POST",
            url:"/users/login",
            data : {
                id : $('#id').val(),
                password : MD5($('#password').val())
            },
            success: function(result){
                window.location.replace('http://localhost:3000/'+result);
            },
            error: function(xhr, status, error) {
                alert(error);
            }
        });
    };
</script>


</body>
</html>
