<!DOCTYPE html>
<html>
<head>
    <title>Homepage</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script type="application/javascript" src="/javascripts/encrypt.js"></script>
    <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <script type="text/javascript" src="http://code.jquery.com/jquery-1.4.3.min.js" ></script>
    <script type="application/javascript" src="/javascripts/registUser.js"></script>
    <%- include alert.ejs %>
</head>

<body>
<div name="registerForm" class="loginBox">
    <div>
        아이디 입력:
        <input type="text" id="id" name="id" value="아이디 입력">
    </div>
    <div>
        비밀번호 입력:
        <input type="password" id="password" name="password">
    </div>
    <div>
        이름 입력:
        <input type="text" id="name" name="name">
    </div>
    <div>
        <input type="button" onclick="submitRegister()" id="bSubmit" value="회원가입">
    </div>
</div>
</body>
</html>
